---
import Layout from "../layouts/Layout.astro";
import image from "../assets/bg_home.jpg";
---

<Layout>
    <h1>Inicio</h1>
    <a href="/nosotros">Nosotros</a>

    <img src={image.src} />
</Layout>
