---
import { Image } from "astro:assets";
import Layout from "@/layouts/Layout.astro";
import bg from "@/assets/bg_home.jpg";
---

<Layout title="Incio" subtitle="Astra Lab" bgImage={bg.src}>
    <h1>Inicio</h1>
    <a href="/nosotros">Nosotros</a>
</Layout>
